.dialogs {
    display: flex;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.message {
    padding: 10px;
    border-radius: 5px;
    background-color: #F6F8FA;
    margin-bottom: 10px;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dialog:hover {
    background-color: #F6F8FA;
}

.active {
    background-color: #F6F8FA;
}