.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialogsItems .active {
    color: goldenrod;
}

.dialog {
    padding: 10px;
}

.messages {

}

.message {
    padding: 10px;
}

